@font-face {
  font-family: Artifika;
  src: url(../fonts/Artifika-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Faune;
  src: url(../fonts/Faune-TextBold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Faune;
  src: url(../fonts/Faune-TextRegular.otf);
  font-weight: normal;
}

html {
  font-size: 16px;
  width: 100%;
}

body {
  font-family: Faune;
  font-weight: normal;
  width: 100%;
  overflow-x: hidden;
  color: #151b1e;
}

h1 {
  font-family: Faune;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px #acb5b9;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: normal;
}

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  p {
    font-size: 0.8rem;
  }
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  z-index: 20;
  background-color: #a3b6c2;
  border-bottom: 2px solid #859ead;
  opacity: 0.95;
}

#brand {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brand .logo {
  height: 3.7rem;
  width: auto;
}

#brand .name {
  font-family: Artifika;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 3px 3px #678698;
}

header .name .grey {
  display: inline;
  color: #F6F6F6;
}

header .mobile {
  display: none;
}

header nav {
  margin-right: 3rem;
}

header nav li {
  display: inline;
  padding: 0.5rem;
  font-size: 1.3rem;
}

header a {
color: #151b1e;
  text-decoration: none;
  text-shadow: 2px 2px #678698;
  transition: all 250ms ease-out;
}

header a:hover {
color: white;
text-shadow: 2px 2px #acb5b9;
}

@media only screen and (max-width: 1075px) {
  header nav {
    display: none;
  }

  header .mobile {
    display: inline-block;rem;
  }

  header .mobile img {
    height: 2.5rem;
    margin-left: 2.5rem;
    transition: all 250ms ease-out;
  }

  header .mobile img:hover {
    opacity: 0.5;
  }
}

/* End of HEADER */

/* BANNER */

#banner {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2rem 1.5rem;
  margin-top: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e3e6e8;
}

#banner img {
  max-width: 60%;
  height: auto;
  margin: 2rem 0 2rem 1.5rem;
  box-shadow: 3px 3px #acb5b9;
}

#banner .content {
  max-width: 40%;
  height: 100%;
  margin-left: 1.5rem;
}

#banner h1 {
  max-width: 75%;
  line-height: 3rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
}

#banner h2 {
  max-width: 75%;
  padding-left: 1.5rem;
}

#banner .button {
  height: auto;
  max-width: 65%;
  margin-top: 2rem;
  margin-left: 1.5rem;
  padding: 1.5rem;
  background-color: #a3b6c2;
  color: #F6F6F6;
  font-size: 1.7rem;
  text-align: center;
  border: 1px solid #94aab8;
  border-radius: 0.25rem;
  text-shadow: 3px 3px #678698;
  box-shadow: 3px 3px #D2D7D9;
  transition: all 250ms ease-out;
}

#banner .button:hover {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
  color: #7592a3;
  text-shadow: 2px 2px #e6e6e6;
}

/* End of BANNER */

/* INFORMATION */

#information {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  background-color: #F6F6F6;
}

#information .main {
    max-width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
}

#information img {
  max-width: 100%;
  margin: 2rem 1.5rem;
}

#information .main img {
  box-shadow: 3px 3px #acb5b9;
}

#information .main h1 {
  margin: 1.5rem;
}

#information .main p {
  font-size: 1.3rem;
  margin: 1.5rem;
  line-height: 2rem;
}

#information .main p .bold {
  font-weight: bold;
  margin: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

#information .secondary {
  width: 40%;
  background-color: #F6F6F6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#information .secondary .container {
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 250ms ease-out 150ms;
}

#information .secondary img {
  width: 35%;
}

#information .secondary .mobile {
  display: none;
}

#information .secondary .content {
  width: 65%;
}

#information .secondary .content h2 {
  font-size: 2.2rem;
  line-height: 2.8rem;
}

#information .secondary .content p {
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 0.5rem 0;
}

#information .secondary .content a {
  color: #57abdb;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 2rem;
  text-shadow: 1px 1px #2d96d2;
}

#information .secondary .lecture {
  background-color: #D2D7D9;
  transition: all 250ms ease-out 150ms;
}


#information .secondary .container:hover {
  background-color: #D2D7D9;
  opacity: 0.8;
}

#information .secondary .content a:hover {
  color: #2478a8;
  text-shadow: 1px 1px #2478a8;
}

#information .secondary .lecture:hover {
  background-color: #e6e6e6;
}

@media only screen and (max-width: 1400px) {
  #information .secondary .content h2 {
    font-size: 1.8rem;
  }

  #information .secondary .content p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  #information .secondary .content a {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 1075px) {
  #information .main {
    display: none;
  }

  #information .secondary {
    width: 100%;
  }

  #information .secondary .container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
  }

  #information .secondary .mobile {
    display: inline;
  }

  #information .secondary img {
    display: none;
  }

  #information .secondary .content {
    max-width: 35%;
  }
}

/* End of INFORMATION */

/* COURSES */

#courses {
  background-color: #e3e6e8;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

#courses h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 3rem;
}

#courses .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 4.5rem;
}

#courses .course {
  max-width: 30%;
  height: 28rem;
  margin: 0 1rem 2rem 1rem;
  background-color: #D2D7D9;
  transition: all 250ms ease-out 150ms;
}

#courses .course:hover {
  background-color: #F6F6F6;
  opacity: 0.6;
}

#courses .course img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

#courses .course h2 {
  padding: 1rem 1rem 0.7rem 1rem;
}

#courses .course p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 0 1rem 1rem 1rem;
}

@media only screen and (max-width: 1214px) {
  #courses .course {
    height: auto;
  }

  #courses .course img {
    margin-bottom: 0;
  }

  #courses .course h2 {
    font-size: 1.5rem;
    padding: 0 1rem;
    text-align: center;
  }

  #courses .course p {
    display: none;
  }
}

/* End of COURSES */

/* THESis */

.thesis-title {
  display: inline-block;
  width: 100%;
  background-color: #F6F6F6;
  text-align: center;
  padding: 2rem;
}

#thesis {
background-color: #F6F6F6;
display: flex;
}

#thesis .video {
  width: 60%;
  padding: 0 3rem 0 1.5rem;
}

#thesis .video video {
  margin: 0 1.5rem 1.5rem 1.5rem;
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

#thesis .video h2 {
  margin: 0 1.5rem 0.5rem 1.5rem;
}

#thesis .video p {
  margin: 1.5rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

#thesis .container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 40%;
  height: auto;
  margin: 0 1.5rem;
  background-color: #F6F6F6;
}

#thesis .project {
  width: 100%;
  display: inline-flex;
  align-items: center;
  transition: all 250ms ease-out 150ms;

}

#thesis .fisma {
  background-color: #D2D7D9;
  transition: all 250ms ease-out 150ms;
}

#thesis .fisma:hover {
  background-color: #e6e6e6;
  opacity: 0.8;
}

#thesis .now-and-then:hover {
  background-color: #D2D7D9;
  opacity: 0.8;
}

#thesis .project .information {
  max-width: 65%;
}

#thesis .project img {
  max-width: 35%;
  height: auto;
  padding: 1rem;
}

#thesis .project h2 {
  padding-bottom: 1.5rem;
}

#thesis .project p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

#thesis .none {
  visibility: hidden;
}

/* End of THESIS */

/* FOOTER */

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 5rem;
  padding: 1.5rem 1.5rem;
  border-top: 1px solid #859ead;
  background-color: #a3b6c2;
}

footer .copyright {
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: 2px 2px #678698;
}

footer nav {
  margin-right: 3rem;
}

footer nav li {
  display: inline;
  padding: 0.5rem;
  font-size: 1.2rem;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px #678698;
  transition: all 250ms ease-out;
}

footer a:hover {
text-shadow: 2px 2px #acb5b9;
}

/* End of FOOTER */
